*{
    margin:0px;
    padding: 0px;
}
nav{
    background-color: black;
    color:white;
    padding: 20px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left: 70%;
}
li{
    color:gray;
    cursor:pointer;
}
li:hover{
    color:white;
}
input{
    width: 700px;
    padding:15px;
    margin-top:50px;
}
.searchbar{
    margin-left:25%;
}
table{
    padding-top:50px
}
.box{
    border-color: black;
    border-width: 5px;
    border-style:solid;
    display: inline-block;
    width: 295px;
}
.box:hover{
    background-color: black;
    color:white;
}
.products{
    text-align: center;
    margin-top:50px;
}
.about{
    margin-top: 50px;
    text-align: center;
}
.contact{
    background-color: black;
    color:white;
    text-align: center;
    padding-top:20px;
    margin-top:50px;
}
